---
from: "no-reply@example.com"
to: "angolszabi@gmail.com"
subject: "Film removed from the site"
layout: delete_mailer
---

<div class="my-1">
    <h2>The films title: {{ data.title }}</h2>
</div>

<div class="my-2">
    <img src="{{ data.cover }}" class="py-2" width="275" height="400" loading="eager" style="width: 275px; height: 400px"><br>
</div>