<div class="card">
  <div class="container">
    <img src="{{ item.cover }}" width="275" height="400" loading="eager" style="width: 275px; height: 400px">
    <p class="py-2 italic">{{ item.description }}</p>
    <h3><b>Title: {{ item.title }}</b></h3>
    {% comment %} TODO átlag értékelés {% endcomment %}
    <p>Rating: {{ item.rating }}</p>
  </div>
</div>