{% liquid
  assign number_help = context.params.number | default: 100 | plus: 0
  graphql films = 'film/search', number: number_help, search: context.params.search

  if context.current_user.id
    function user = 'queries/user/load', id: context.current_user.id
  endif
%}

<div>
  <h1 class="text-5xl m-6">Welcome to share your opinions on films{% if user %}, {{ user.name }}{% endif %}!<h1>
</div>

<div class="mt-3">
  {% if context.current_user.id %}
    <a href="/logout" class="rounded px-2 py-1 my-1 text-2xl text-white bg-neutral-700 hover:bg-neutral-800">Log out</a>
  {% else %}
    <a href="/login" class="rounded px-2 py-1 my-1 text-white bg-neutral-700 hover:bg-neutral-800 text-2xl">Log in</a><span class="text-2xl"> or </span><a href="/register" class="rounded px-2 py-1 my-1 text-white bg-neutral-700 hover:bg-neutral-800 text-2xl">register</a>
  {% endif %}
</div>

<form class="search-form text-center" action="/index" method="get">
  <label for="number">See the top: </label>
  <input class="search-form__number-input" type="number" name="number" id="number" placeholder="2 (list 2 films)" class="p-1">
  <input class="search-form__search-input" type="text" name="search" id="search" placeholder="Iron Man">
  <button type="submit" class="rounded px-4 py-1 bg-slate-400 hover:bg-slate-500">Search</button>
</form>

<div class="grid grid-cols-3 grid-flow-row gap-4 my-3">
  {% for item in films.records.results %}
    {% render 'film/card', item: item, average: 0, main: true %}
  {% endfor %}
</div>

{% if films.records.total_entries == 0 %}
  <div>There are no films in the list.</div>
{% endif %}

{% if context.current_user.id %}
  <div class="form-container mb-5">
    <form action="/film/create" method="post">

      <label for="title">Title: </label>
      <input type="text" id="title" name="title" class="form-container__text-input" placeholder="Title of the movie" required>

      <label for="description">Description: </label>
      <textarea id="description" name="description" class="form-container__textarea" placeholder="Write something.." style="height: 150px" required></textarea>

      <label for="cover">Cover image url: </label>
      <input type="text" id="cover" class="form-container__text-input" name="cover" required><br><br>

      <input class="form-container__button" type="submit" value="Add new movie">

    </form>
  </div>
{% endif %}