{% liquid
  assign number_help = context.params.number | default: 100 | plus: 0
  graphql films = 'film/search', number: number_help, search: context.params.search

  if context.current_user.id
    function user = 'queries/user/load', id: context.current_user.id
  endif
%}

<div>
  <h1 class="text-5xl m-3">Welcome to share your opinions on films{% if user %}, {{ user.name }}{% endif %}!<h1>
</div>

<form action="/index" method="get">
  <label for="number">See the top: </label>
  <input type="number" name="number" id="number" placeholder="2 (list 2 films)" class="p-1">
  <input type="text" name="search" id="search" placeholder="Iron Man">
  <button type="submit" class="rounded px-4 py-1 bg-slate-400 hover:bg-slate-500">Search</button>
</form>

<div class="grid grid-cols-3 grid-flow-row gap-4">
  {% for item in films.records.results %}
    {% render 'film/card', item: item, average: 0, main: true %}
  {% endfor %}
</div>

{% if films.records.total_entries == 0 %}
  <div>There are no films in the list.</div>
{% endif %}

<div class="form-container mb-5">
  <form action="/film/create" method="post">

    <label for="title">Title: </label>
    <input type="text" id="title" name="title" placeholder="Title of the movie" required>

    <label for="description">Description: </label>
    <textarea id="description" name="description" placeholder="Write something.." style="height: 150px" required></textarea>

	  <label for="cover">Cover image url: </label>
    <input type="text" id="cover" name="cover" required><br><br>

    <input type="submit" value="Add new movie">

  </form>
</div>