<ul>
	<li>
		First item
		<form action="" method="post">
			<button type="submit">Mark as done</button>
		</form>
	</li>
	<li>
		Second item
		<form action="" method="post">
			<button type="submit">Mark as done</button>
		</form>
	</li>
</ul>

<!-- information shown when the list is empty -->
<div>There are no items in the list.</div>

<!-- form for adding new item -->
<form action="/film/create" method="post">
	<input type="text" name="title"></br>
  <input type="text" name="username"></br>
  <input type="number" name="age"></br>
  <textarea type="text" name="comment"></textarea></br>
  <input type="text" name="cover"></br>
	<button type="submit">Add item</button>
</form>