<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Best films ever</title>
		<link rel="stylesheet" href="{{ 'styles/output.css' | asset_url }}">
	</head>
	<body>
		<h1 class="text-4xl">These are the best films in history</h1>

		{{ content_for_layout }}
	</body>
</html>