<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Film opinions</title>
		<link rel="stylesheet" href="{{ 'styles/output.css' | asset_url }}">
	</head>
	<body>
		<div>
			<h1 class="text-4xl mt-5">Here you can see other people opinions on films</h1>
		</div>
		
		{{ content_for_layout }}
	</body>
</html>